<h1>New Tome</h1>

<% if @tome.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @tome.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/tomes" method="post">
  <label for="tome_description">description</label>
  <input id="tome_description" name="description" type="text">
  <label for="tome_number">number</label>
  <input id="tome_number" name="number" type="text">
  <button>Create Tome</button>
</form>
