
<h1><%= @tome.description %></h1>
<br>
<p><a href='/tomes/<%= @tome.id %>/edit'>EDIT</a></p>
<br>
<a href="/tomes/<%= @tome.id %>/chapters/new">NEW CHAPTER</a>
<br>
<br>

<p><a href="/tomes/<%= @tome.id %>/destroy"data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>
<p><a href='/tomes/'>HOME</a></p>
