<div class="container">
<h1 class="jumbotron"><%= @tome.description %></h1>
<br>
<button type="button" class="btn btn-success"><a href='/tomes/<%= @tome.id %>/edit'>EDIT</a></button>

<button type="button" class="btn btn-success"><a href="/tomes/<%= @tome.id %>/chapters/new">NEW CHAPTER</a></button>


<button type="button" class="btn btn-success"><a href="/tomes/<%= @tome.id %>/destroy"data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">DELETE</a></button>
<button type="button" class="btn btn-success"><a href='/tomes/'>HOME</a></button>
</div>
