<h1>New Lesson</h1>


<% if @lesson.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="." method="post">
  <label for="lesson_description">description</label>
  <input id="lesson_description" name="description" type="text">
  <label for="lesson_number">number</label>
  <input id="lesson_number" name="number" type="text">
  <label for="lesson_content">content</label>
  <input id="lesson_content" name="content" type="text">
  <button>Create Chapter</button>
</form>

</BR>
</BR>
</BR>

<a href="/">HOME</a>
