<div class="container">

<h1 class="jumbotron">New Lesson</h1>


<% if @lesson.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="." method="post">
  <label for="lesson_description">description</label>
  <input class="form-control" id="lesson_description" name="description" type="text">
  <label for="lesson_number">number</label>
  <input class="form-control" id="lesson_number" name="number" type="text">
  <br/>
  <label class="content" for="lesson_content">content</label>
  <br/>
  <textarea class="text-area" id="lesson_content" name="content" type="text"></textarea>
  <br/>
  <br/>
  <button type="submit" class="btn btn-success">Create Chapter</button>
</form>

</BR>


<button type="button" class="btn btn-success"><a href="/">HOME</a></button>


</div>
