<div class="container">

<h1 class="jumbotron">New Chapter</h1>

<% if @chapter.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @chapter.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="." method="post">
  <label for="chapter_description">description</label>
  <input class="form-control" id="chapter_description" name="description" type="text">
  <label for="chapter_number">number</label>
  <input class="form-control" id="chapter_number" name="number" type="text">
  <br/>
  <button type="submit" class="btn btn-success">Create Chapter</button>
</form>

<br/>

<button type="button" class="btn btn-success"><a href="/">HOME</a></button>


</div>

